$primary-color: #ffffff;
$secondary-color: #a1a5b4;

$bg-color: #2a2d36;
$bg-header-color: #0b0c10;

$bg-footer-color: #15161a;
$footer-color: #282b32;

$logo-color: #303030;
$logo-color-hover: #e88301;

$gradient-start: #cd7400;
$gradient-end: #fe9e23;

$black: #000000;
$error-color: #ff0000;
